<!DOCTYPE html>
<html>
<head>
  <title>slug bug blue</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="stylesheet" href="sbb.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"> </script>
</head>
<body>
  <section id="sbb" class="active">
    <h1>slug bug blue</h1>
    <div class="centered content">
      <span v-for="(item, index) in imgs" :key="item.src">
        <img v-if="logo==index" :src="item.src" alt="sbb" :width="item.width" :height="item.height" :class="item.class">
      </span>
      <h2>gotta love it</h2>
    </div>
  </section>
  <script src="sbb.js"> </script>
</body>
</html>
