body {
  font: normal 12pt serif;
  margin: 0px;
  background-color: #34495e;
  color: #1e8bc3;
}

h1 {
  background-color: #22313f;
  color: #E4F1FE;
  font: normal 10pt "Montserrat", sans-serif;
  margin: 0px;
  padding: 3px;
  text-align: center;
}

h2 {
  font: normal 12pt "Montserrat", sans-serif;
}

section {
  display: none;
}

section.active {
  display: block;
}

section div.content {
  margin: 10px;
}

.hidden {
  display: none;
}

img.whimsical {
  border-radius: 15px;
  border: 1px solid rgba(255,255,255,1);
}

.centered {
  text-align: center;
}

/* Error styling */
.err404 p {
  margin: 30px;
  text-align: center;
}

/* Debug. Remove for production. */

canvas {
  border: 1px solid black;
}
